{% extends "layout.html"  %}
{% set active_page = "accounts" %}
        {% block container %}
        <div class="container">
            <!-- Global flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert fade in">
                            {{ message }}
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div>
                <h4>Your Google Analytics Accounts</h4>
                <table class="table table-striped">
                    {% for item in accounts['items'] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item['name'] }}</td>
                            <td>{{ item['created'] }}</td>
                            <td>{{ item['updated'] }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>

        </div> <!-- /container -->
        {% endblock %}

